/* movies:s */
.container {
  margin-left: auto;
  width: 85%;
}
.movies {
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
/* movies:e */
