/* movies:s */
.container {
  margin-left: auto;
  width: 85%;
}

.loader .loader__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  font-weight: 600;
  color: #b1b1b1;
}
.movies {
  margin-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.movies > * {
  margin-right: 30px;
  display: block;
  width: calc(100% / 2 - 30px);

  text-decoration: none;
}
.movies > *:nth-of-type(2n) {
  margin-right: 0;
}
/* movies:e */

@media screen and (max-width: 1180px) {
  .movies {
    flex-direction: column;
  }
  .movies > * {
    margin-right: 0;
    width: 100%;
  }
}
