@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
body {
  margin: 0;
  font-family: "Oswald", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #18191c;
  color: #fff;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
img {
  width: 100%;
  height: inherit;
}
a {
  text-decoration: none;
  color: #fff;
}
input,
button,
select {
  outline: none;
}
button {
  color: #fff;
  border: none;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
}
input[type="text"],
input[type="password"] {
  width: 100%;
  height: inherit;
  background-color: transparent;
  border: none;
}
table {
  margin: 0 auto;
  border-top: 2px solid #888;
}

table tr td {
  padding: 23px 0 24px;
  border-bottom: 1px solid #e6e6e6;
  color: #666;
  font-size: 14px;
  text-align: center;
  line-height: 20px;
  vertical-align: middle;
}
table thead tr th {
  padding: 22px 0 20px;
  border-bottom: 1px solid #888;
}
table thead tr th:first-child {
  width: 5%;
}
table thead tr th:last-child {
  width: 5%;
}
table thead tr th:nth-of-type(2) {
  width: 90%;
}
table tbody tr td:nth-of-type(2) {
  text-align: left;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
