@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
body {
  margin: 0;
  font-family: "Oswald", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
img {
  width: 100%;
  height: inherit;
}
a {
  text-decoration: none;
  color: #000;
}
input,
button,
select {
  outline: none;
}
button {
  border: none;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
}
input[type="text"],
input[type="password"] {
  width: 100%;
  height: inherit;
  background-color: transparent;
  border: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
